{% extends '_external_base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container h-100">
    <div class="row h-100 d-flex justify-content-center align-items-center">
        <div class="col-lg-3">
            <div class="text-center mb-5">
                <h1>Login</h1>
            </div>
            <form method="post">
                {% csrf_token %}
                {% if form.non_field_errors %}
                <div class="form-group d-flex justify-content-center text-danger">
                    {{ form.non_field_errors }}
                </div>
                {% endif %}
                <div class="form-group my-3">
                    {{ form.login|as_crispy_field }}
                    {{ form.password|as_crispy_field }}
                </div>
                <div class="form-group mt-3 mb-4">
                    <button type="submit" class="btn btn-primary w-100">
                        Login
                    </button>
                </div>
                <div class="text-center">
                    <a href="{% url 'account_reset_password' %}">
                        Forgotten Password
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}