{% extends '_base.html' %}
{% load static %}
{% load templatehelpers %}
{% block title %}Password Changed{% endblock %}
{% block pageheader %}Password Changed{% endblock pageheader %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'equipment_dashboard' %}">Dashboard</a></li>
<li class="breadcrumb-item active" aria-current="page">Booking Calendar</li>
{% endblock breadcrumb %}
{% block content %}
{% load crispy_forms_tags %}
{% include 'equipment/partials/filter-bookings-sidebar.html' %}
<div class="row mt-5">
    <div class="col-lg-6 mx-auto">
        <div class="card">
            <div class="card-header d-flex flex-column flex-lg-row justify-content-between align-items-center">
                <h2 class="fs-5 m-0 py-4">
                    Password Change Complete
                </h2>
            </div>
            <div class="card-body">
                <p class="text-center my-5">Your password has been changed.</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}