{% extends '_external_base.html' %}
{% load static %}
{% block title %}Password Change{% endblock title %}
{% block content %}               
<form method="post">
    {% csrf_token %}
    <div>
        {% if form.non_field_errors %}
        {{ form.non_field_errors }}
        {% endif %}

        {{ form.oldpassword }}
        {{ form.oldpassword.errors }}
        {{ form.password1 }}
        {{ form.password1.errors }}
        {{ form.password2 }}
        {{ form.password2.errors }}
    </div>
    <div>
        <button type="submit">
            Change Password
        </button>
        <a href="{% url 'account_login' %}">
            Login
        </a>
    </div>
</form>
{% endblock content %}
                