{% extends '_base.html' %}
{% load static %}
{% load templatehelpers %}
{% block title %}Change Password{% endblock %}
{% block pageheader %}Change Password{% endblock pageheader %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'equipment_dashboard' %}">Dashboard</a></li>
<li class="breadcrumb-item active" aria-current="page">Change Password</li>
{% endblock breadcrumb %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'equipment/partials/filter-bookings-sidebar.html' %}
<div class="row mt-5">
    <div class="col-lg-6 mx-auto">
        <div class="card">
            <div class="card-header d-flex flex-column flex-lg-row justify-content-between align-items-center">
                <h2 class="fs-5 m-0 py-4">
                    Change Password
                </h2>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group mb-5">
                        {{ form.oldpassword|as_crispy_field }}
                        {{ form.password1|as_crispy_field }}
                        {{ form.password2|as_crispy_field }}
                    </div>
                    <div class="form-group my-3 text-center">
                        <a href="{% url 'account_login' %}" class="btn btn-secondary">
                            Cancel
                        </a>
                        <button type="submit" class="btn btn-primary">
                            Change
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
                