{% extends '_external_base.html' %}
{% load static %}
{% block title %}Set New Password{% endblock title %}
{% block content %}         
{% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <div>
        This password reset link has expired.
    </div>
    <div>
        <a href="{% url 'account_login' %}">
            Login
        </a>
    </div>
{% else %}
    {% if form %}
    <form method="post">
        {% csrf_token %}
        <div>
            {% if form.non_field_errors %}
            {{ form.non_field_errors }}
            {% endif %}

            {{ form.password1 }}
            {{ form.password1.errors }}
            {{ form.password2 }}
            {{ form.password2.errors }}
        </div>
        <div>
            <button type="submit">
                Set Password
            </button>
            <a href="{% url 'account_login' %}">
                Login
            </a>
        </div>                           
    </form>
    {% endif %}
{% endif %}
{% endblock content %}