{% extends '_external_base.html' %}
{% load static %}
{% block title %}Reset Password{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container h-100">
    <div class="row h-100 d-flex justify-content-center align-items-center">
        <div class="col-lg-3">
            <div class="text-center mb-5">
                <h1>Reset Password</h1>
            </div>
            <div class="text-center">
                <div class="form-group mt-3 mb-4">
                    If your account exists, we've emailed you instructions.
                </div>
                <a href="{% url 'account_login' %}" class="btn btn-primary">
                    Back
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}