{% extends '_external_base.html' %}
{% load static %}
{% block title %}Signup Closed{% endblock title %}
{% block content %}
<div class="container h-100">
    <div class="row h-100 d-flex justify-content-center align-items-center">
        <div class="col-lg-3">
            <div class="text-center mb-5">
                <h1>Signup Closed</h1>
                <p class="text-center">
                    Signup for this site is currently closed.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}