{% extends '_base.html' %}
{% load static %}
{% load templatehelpers %}
{% block title %}Booking Query{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
{% include 'equipment/partials/filter-bookings-sidebar.html' %}

<div class="container-fluid px-1 px-lg-3 my-5">
    <!-- Breadcrumb & Header -->
    <nav class="row">
        <div id="page-topnav" class="col">
            <h2>Equipment</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'equipment_dashboard' %}">Dashboard</a></li>
                <li class="breadcrumb-item active" aria-current="page">Booking Query</li>
            </ol>
        </div>
    </nav>    
    <!-- Header -->
    <div class="row" id="header-block">
        <div class="col-xl-3">
            <div class="page-header">
                <h1>Booking Query</h1>
            </div>
        </div>
        <!-- Search & Buttons -->
        <div class="col-xl-9">
            <form action="{% url 'equipment_booking_query' %}" method="get" class="header-controls">
                <input type="search" placeholder="Search Bookings" class="form-control search-bar" type="text" name="search" value="{{ request.GET.search }}" id="search-bookings">
                <a data-bs-toggle="offcanvas" data-bs-target="#filter-bookings-sidebar" class="btn btn-primary btn-lg-fw">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="18" height="18" fill="currentColor" class="me-2">
                        <path d="M400-240v-80h160v80H400ZM240-440v-80h480v80H240ZM120-640v-80h720v80H120Z"/>
                    </svg>
                    Filter
                </a>
                <button class="btn btn-primary btn-lg-fw dropdown-toggle" id="ActionsDropdownMenuButton" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Actions
                </button>
                <ul class="dropdown-menu" aria-labelledby="ActionsDropdownMenuButton">
                    <a class="dropdown-item" href="{% url 'equipment_create_item' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="dropdown-icon me-2" fill="currentColor">
                            <path d="M450-200v-250H200v-60h250v-250h60v250h250v60H510v250h-60Z"/>
                        </svg>
                        New Item
                    </a>
                    <a class="dropdown-item" href="{% url 'equipment_booking_summary' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="dropdown-icon me-2" fill="currentColor">
                            <path d="M450-200v-250H200v-60h250v-250h60v250h250v60H510v250h-60Z"/>
                        </svg>
                        New Booking
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{% url 'equipment_booking_query' %}?date_range_start={{ today }}&date_range_end={{ today }}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="dropdown-icon me-2" fill="currentColor">
                            <path d="M360-300q-42 0-71-29t-29-71q0-42 29-71t71-29q42 0 71 29t29 71q0 42-29 71t-71 29ZM200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Z"/>
                        </svg>
                        Today's Bookings
                    </a>
                    <a class="dropdown-item" href="{% url 'equipment_booking_query' %}?date_range_start={{ week_start }}&date_range_end={{ week_end }}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="dropdown-icon me-2" fill="currentColor">
                            <path d="M320-400q-17 0-28.5-11.5T280-440q0-17 11.5-28.5T320-480q17 0 28.5 11.5T360-440q0 17-11.5 28.5T320-400Zm160 0q-17 0-28.5-11.5T440-440q0-17 11.5-28.5T480-480q17 0 28.5 11.5T520-440q0 17-11.5 28.5T480-400Zm160 0q-17 0-28.5-11.5T600-440q0-17 11.5-28.5T640-480q17 0 28.5 11.5T680-440q0 17-11.5 28.5T640-400ZM200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Z"/>
                        </svg>
                        This Week's Bookings
                    </a>
                    <a class="dropdown-item" href="{% url 'equipment_booking_query' %}?date_range_start={{ month_start }}&date_range_end={{ month_end }}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" class="dropdown-icon me-2" fill="currentColor">
                            <path d="M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Zm280 240q-17 0-28.5-11.5T440-440q0-17 11.5-28.5T480-480q17 0 28.5 11.5T520-440q0 17-11.5 28.5T480-400Zm-160 0q-17 0-28.5-11.5T280-440q0-17 11.5-28.5T320-480q17 0 28.5 11.5T360-440q0 17-11.5 28.5T320-400Zm320 0q-17 0-28.5-11.5T600-440q0-17 11.5-28.5T640-480q17 0 28.5 11.5T680-440q0 17-11.5 28.5T640-400ZM480-240q-17 0-28.5-11.5T440-280q0-17 11.5-28.5T480-320q17 0 28.5 11.5T520-280q0 17-11.5 28.5T480-240Zm-160 0q-17 0-28.5-11.5T280-280q0-17 11.5-28.5T320-320q17 0 28.5 11.5T360-280q0 17-11.5 28.5T320-240Zm320 0q-17 0-28.5-11.5T600-280q0-17 11.5-28.5T640-320q17 0 28.5 11.5T680-280q0 17-11.5 28.5T640-240Z"/>
                        </svg>
                        This Month's Bookings
                    </a>
                </ul>
            </form>
        </div>
    </div>

    <!-- Nav Pills -->
    <div class="row mb-5">
        <div class="col">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'equipment_dashboard' %}">
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'equipment_item_query' %}">
                        Equipment
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'equipment_booking_calendar' %}">
                        Calendar
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'equipment_booking_query' %}">
                        Bookings
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link position-relative" href="{% url 'equipment_booking_summary' %}">
                        {% if pending_booking %}
                        Pending Booking
                        <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-dark rounded-circle">
                            <span class="visually-hidden">Active Booking</span>
                        </span>
                        {% else %}
                        New Booking
                        {% endif %}
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col">
            <div class="base-card h-100">
                <div class="card-header"> 
                    <p class="content-card-header">Showing {{ booking_query.start_index }}-{{ booking_query.end_index }} of {{ booking_query.paginator.count }} results</p>                     
                </div>
                <div class="card-body">
                    <!-- No Results -->
                    {% if booking_query|length == 0 %}
                    <div class="table-no-results">
                        No Bookings
                    </div>
                    {% else %}
                    <div class="table-responsive" id="items">
                        <table class="table align-middle text-center no-break">
                            <thead>
                                <tr>
                                    <th>
                                        <button class="listjs-sorter" data-sort="sort-reference" type="button">
                                            Reference
                                        </button>
                                    </th>
                                    <th>
                                        <button class="listjs-sorter" data-sort="sort-client" type="button">
                                            Client Type
                                        </button>
                                    </th>
                                    <th>
                                        <button class="listjs-sorter" data-sort="sort-bookedby" type="button">
                                            Booked By
                                        </button>
                                    </th>
                                    <th>
                                        <button class="listjs-sorter" data-sort="sort-department" type="button">
                                            Department
                                        </button>
                                    </th>
                                    <th>
                                        <button class="listjs-sorter" data-sort="sort-start" type="button">
                                            Start
                                        </button>
                                    </th>
                                    <th>
                                        <button class="listjs-sorter" data-sort="sort-end" type="button">
                                            End
                                        </button>
                                    </th>
                                    <th>
                                        <button class="listjs-sorter" data-sort="sort-status" type="button">
                                            Status
                                        </button>
                                    </th>
                                    <th>
                                        <!-- Blank -->
                                    </th>
                                    <th>
                                        <!-- Blank -->
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="list">
                                {% for booking in booking_query %}
                                <tr id="booking-{{ booking.id }}">
                                    <td class="sort-reference">
                                        {{ booking.job_reference }}
                                    </td>
                                    <td class="sort-client">
                                        {{ booking.get_client_type_display|default_if_none:"n/a" }}
                                    </td>
                                    <td class="sort-bookedby">
                                        {{ booking.created_by }}
                                    </td>
                                    <td class="sort-department">
                                        {{ booking.department|default_if_none:"n/a" }}
                                    </td>
                                    <td class="sort-start">
                                        {{ booking.start_at }}
                                    </td>
                                    <td class="sort-end">
                                        {{ booking.end_at }}
                                    </td>
                                    <td class="sort-status">
                                        {% if booking.status == 'CANCELLED' %}
                                        <span class="status-badge bg-red">{{ booking.get_status_display }}</span>
                                        {% else %}
                                        <span class="status-badge bg-green">{{ booking.get_status_display }}</span>
                                        {% endif %}
                                    </td>
                                    <td class="sort-end">
                                        <a href="{% url 'equipment_booking_detail' booking.pk %}" class="btn btn-primary">
                                            View
                                        </a>
                                    </td>
                                    <td class="kebab-menu">
                                        <a href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                                <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                            </svg>
                                        </a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="{% url 'equipment_booking_detail' booking.pk %}">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor" class="dropdown-icon me-2">
                                                    <path d="M453-280h60v-240h-60v240Zm26.982-314q14.018 0 23.518-9.2T513-626q0-14.45-9.482-24.225-9.483-9.775-23.5-9.775-14.018 0-23.518 9.775T447-626q0 13.6 9.482 22.8 9.483 9.2 23.5 9.2Zm.284 514q-82.734 0-155.5-31.5t-127.266-86q-54.5-54.5-86-127.341Q80-397.681 80-480.5q0-82.819 31.5-155.659Q143-709 197.5-763t127.341-85.5Q397.681-880 480.5-880q82.819 0 155.659 31.5Q709-817 763-763t85.5 127Q880-563 880-480.266q0 82.734-31.5 155.5T763-197.684q-54 54.316-127 86Q563-80 480.266-80Zm.234-60Q622-140 721-239.5t99-241Q820-622 721.188-721 622.375-820 480-820q-141 0-240.5 98.812Q140-622.375 140-480q0 141 99.5 240.5t241 99.5Zm-.5-340Z"/>
                                                </svg>
                                                Booking Information
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="{% url 'equipment_booking_update' booking.pk %}?next={{ request.get_full_path|urlencode }}">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor" class="dropdown-icon text-danger me-2">
                                                    <path d="M200-200h56l345-345-56-56-345 345v56Zm572-403L602-771l56-56q23-23 56.5-23t56.5 23l56 56q23 23 24 55.5T829-660l-57 57Zm-58 59L290-120H120v-170l424-424 170 170Zm-141-29-28-28 56 56-28-28Z"/>
                                                </svg>
                                                Update
                                            </a>
                                            <a class="dropdown-item" href="{% url 'equipment_booking_cancel' booking.pk %}">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor" class="dropdown-icon text-danger me-2">
                                                    <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/>
                                                </svg>
                                                Cancel
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    
        <!-- Pagination -->
        <div class="row my-5">
            <nav class="page-pagination">
                <ul class="pagination-content">
    
                    <!-- First -->
                    {% if booking_query.has_previous %}
                    <li class="pagination-block">
                    <a class="page-link" href="{% relative_url booking_query.paginator_start_index 'page' request.GET.urlencode %}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="24" height="24" fill="currentColor">
                        <path d="M240-240v-480h60v480h-60Zm447-3L453-477l234-234 43 43-191 191 191 191-43 43Z"/>
                        </svg>
                    </a>
                    </li>
                    {% else %}
                    <li class="pagination-block disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="24" height="24" fill="currentColor">
                        <path d="M240-240v-480h60v480h-60Zm447-3L453-477l234-234 43 43-191 191 191 191-43 43Z"/>
                        </svg>
                    </a>
                    </li>
                    {% endif %}
    
                    <!-- Previous -->
                    {% if booking_query.has_previous %}
                    <li class="pagination-block">
                    <a class="page-link" href="{% relative_url booking_query.previous_page_number 'page' request.GET.urlencode %}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="24" height="24" fill="currentColor">
                        <path d="M561-240 320-481l241-241 43 43-198 198 198 198-43 43Z"/>
                        </svg>
                    </a>
                    </li>
                    {% else %}
                    <li class="pagination-block disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="24" height="24" fill="currentColor">
                        <path d="M561-240 320-481l241-241 43 43-198 198 198 198-43 43Z"/>
                        </svg>
                    </a>
                    </li>
                    {% endif %}
    
                    <!-- Page Count -->
                    <li class="pagination-page-list">
                    {{ booking_query.number }} of {{ booking_query.paginator.num_pages }}
                    </li>
    
                    <!-- Next -->
                    {% if booking_query.has_next %}
                    <li class="pagination-block">
                    <a class="page-link" href="{% relative_url booking_query.next_page_number 'page' request.GET.urlencode %}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="24" height="24" fill="currentColor">
                        <path d="m375-240-43-43 198-198-198-198 43-43 241 241-241 241Z"/>
                        </svg>
                    </a>
                    </li>
                    {% else %}
                    <li class="pagination-block disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="24" height="24" fill="currentColor">
                        <path d="m375-240-43-43 198-198-198-198 43-43 241 241-241 241Z"/>
                        </svg>
                    </a>
                    </li>
                    {% endif %}
    
                    <!-- Last -->
                    {% if booking_query.has_next %}
                    <li class="pagination-block">
                    <a class="page-link" href="{% relative_url booking_query.paginator.num_pages 'page' request.GET.urlencode %}">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="24" height="24" fill="currentColor">
                        <path d="m272-245-43-43 192-192-192-192 43-43 235 235-235 235Zm388 5v-480h60v480h-60Z"/>
                        </svg>
                    </a>
                    </li>
                    {% else %}
                    <li class="pagination-block disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="24" height="24" fill="currentColor">
                        <path d="m272-245-43-43 192-192-192-192 43-43 235 235-235 235Zm388 5v-480h60v480h-60Z"/>
                        </svg>
                    </a>
                    </li>
                    {% endif %}  
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<script src="{% static 'js/list.min.js' %}"></script>
{% endblock scripts %}