{% extends '_base.html' %}
{% load static %}
{% block title %}Assign Item{% endblock %}
{% block pageheader %}Assign Item{% endblock pageheader %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'equipment_dashboard' %}">Dashboard</a></li>
<li class="breadcrumb-item active" aria-current="page">Assign Item</li>
{% endblock breadcrumb %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row mt-5">
    <div class="col-lg-6 mx-auto">
        <div class="card">
            <div class="card-header d-flex flex-column flex-lg-row justify-content-between align-items-center">
                <h2 class="fs-5 m-0 py-4">
                    Assign Item
                </h2>
            </div>
            <div class="card-body">
                <form method="post" id="assign-item-form">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                    <div class="form-group mb-5">
                        {{ form.non_field_errors }}
                    </div>
                    {% endif %}
                    <div class="form-group mb-5">
                        {{ form.assigned_user|as_crispy_field }}
                    </div>
                    <div class="form-group text-center my-3">
                        <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary btn-lg-fw">
                            Back
                        </a>
                        <button type="submit" class="btn btn-primary btn-lg-fw" id="create-item-btn" onclick="buttonSpinner('assign-item-form', 'assign-item-btn')">
                            Assign
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}