{% extends '_base.html' %}
{% load static %}
{% block title %}Create Item{% endblock %}
{% block pageheader %}Create Item{% endblock pageheader %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'equipment_dashboard' %}">Dashboard</a></li>
<li class="breadcrumb-item active" aria-current="page">Create Item</li>
{% endblock breadcrumb %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row mt-5">
    <div class="col-lg-6 mx-auto">
        <div class="card">
            <div class="card-header d-flex flex-column flex-lg-row justify-content-between align-items-center">
                <h2 class="fs-5 m-0 py-4">
                    Create Item
                </h2>
            </div>
            <div class="card-body">
                <form method="post" id="create-item-form">
                    {% csrf_token %}

                    {% if form.non_field_errors %}
                    <div class="form-group mb-5">
                        {{ form.non_field_errors }}
                    </div>
                    {% endif %}

                    <div class="form-group mb-5">
                        <h5 class="my-4">Base Information</h5>
                        {{ form.category|as_crispy_field }}
                        {{ form.manufacturer|as_crispy_field }}
                        {{ form.name|as_crispy_field }}
                        {{ form.mount|as_crispy_field }}
                        {{ form.model_number|as_crispy_field }}
                        {{ form.serial_number|as_crispy_field }}
                        {{ form.barcode|as_crispy_field }}
                    </div>
                    <hr>
                    
                    <div class="form-group mb-5">
                        <h5 class="my-4">Notes</h5>
                        {{ form.notes|as_crispy_field }}
                    </div>
                    <hr>

                    <div class="form-group mb-5">
                        <h5 class="my-4">Purchase and Costs</h5>
                        {{ form.purchase_date|as_crispy_field }}
                        {{ form.purchase_cost|as_crispy_field }}
                        {{ form.depreciation_method|as_crispy_field }}
                        <div class="mt-5">
                            {{ form.hire_day_rate|as_crispy_field }}
                        </div>
                    </div>
                    <hr>

                    <div class="form-group mb-5">
                        <h5 class="my-4">Servicing & Maintainence</h5>
                        {{ form.last_service_date|as_crispy_field }}
                        {{ form.service_interval_period|as_crispy_field }}
                    </div>

                    <div class="form-group text-center my-3">
                        <a href="{% url 'equipment_dashboard' %}" class="btn btn-secondary btn-lg-fw">
                            Back
                        </a>
                        <button type="submit" class="btn btn-primary btn-lg-fw" id="create-item-btn" onclick="buttonSpinner('create-item-form', 'create-item-btn')">
                            Create
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script src="{% static 'js/choices.min.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const categoryField = document.getElementById("id_category");
        if (categoryField) {
            new Choices(categoryField, {
                searchEnabled: true,
                shouldSort: false,
                placeholderValue: 'Select a category',
                allowHTML: false
            });
        }
        const manufacturerField = document.getElementById("id_manufacturer");
        if (manufacturerField) {
            new Choices(manufacturerField, {
                searchEnabled: true,
                shouldSort: false,
                placeholderValue: 'Select a manufacturer',
                allowHTML: false
            });
        }        
    });
</script>
{% endblock scripts %}