{% extends '_base.html' %}
{% load static %}
{% block title %}Delete Item{% endblock %}
{% block pageheader %}Delete Item{% endblock pageheader %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'equipment_dashboard' %}">Dashboard</a></li>
<li class="breadcrumb-item active" aria-current="page">Delete Item</li>
{% endblock breadcrumb %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row mt-5">
    <div class="col-lg-6 mx-auto">
        <div class="card">
            <div class="card-header">
                <h2 class="fs-5 m-0 py-4">
                    Confirm Deletion: <span class="text-danger">{{ item.name }}</span>
                </h2>
            </div>
            <div class="card-body">
                <form method="post" id="delete-item-form">
                    {% csrf_token %}

                    <div class="form-group mb-5">
                        <p>
                            Are you sure you wish to delete <span class="text-accented">{{ item.name }} / SN: {{ item.serial_number|default_if_none:"No Serial" }}</span> ? 
                        </p>
                        <p>
                            This will immediately <strong>delete this item, preventing it from being booked for jobs.</strong> 
                            Existing and past bookings are not affected.
                        </p>
                        <p>This action is <strong>irreversible</strong>, and is logged.</p>
                    </div>
                    <div class="form-group text-center my-3">
                        <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-secondary btn-lg-fw">
                            Back
                        </a>
                        <button type="submit" class="btn btn-danger btn-lg-fw" id="confirm-delete-btn" onclick="buttonSpinner('delete-item-form', 'confirm-delete-btn')">
                            Delete
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}