{% extends '_base.html' %}
{% load static %}
{% load templatehelpers %}
{% block title %}Equipment Query{% endblock %}
{% block pageheader %}Items{% endblock pageheader %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'equipment_dashboard' %}">Dashboard</a></li>
<li class="breadcrumb-item active" aria-current="page">Item Query</li>
{% endblock breadcrumb %}
{% block content %}
{% include 'equipment/partials/filter-bookings-sidebar.html' %}
{% include 'equipment/partials/filter-equipment-sidebar.html' %}

<div class="row mt-5">
    <div class="col mb-4">
        <div class="card">
            <div class="card-header d-flex flex-column flex-lg-row justify-content-between align-items-lg-center">
                <h2 class="fs-5 m-0 py-4">
                    Showing {{ item_query.start_index }}-{{ item_query.end_index }} of {{ item_query.paginator.count }} results
                </h2>
                <form action="{% url 'equipment_item_query' %}" method="get" class="d-flex flex-column flex-lg-row">
                    <input id="item-barcode-scan" name="search" type="text" placeholder="Search / Scan" class="form-control" required>
                    <button type="submit" class="btn btn-primary mt-2 mt-lg-0 ms-lg-2">
                        Search
                    </button>
                    <a data-bs-toggle="offcanvas" data-bs-target="#filter-equipment-sidebar" class="btn btn-secondary my-2 my-lg-0 ms-lg-2">
                        Filter
                    </a> 
                </form>
            </div>
            <div class="card-body">    
                {% if item_query|length != 0 %}
                <div class="table-responsive" id="items">
                    <table class="table align-middle text-center no-break">
                        <thead>
                            <tr>
                                <th>
                                    <button class="btn btn-link listjs-sorter" data-sort="sort-manufacturer" type="button">
                                        Manufacturer
                                    </button>
                                </th>
                                <th>
                                    <button class="btn btn-link listjs-sorter" data-sort="sort-name" type="button">
                                        Name
                                    </button>
                                </th>
                                <th>
                                    <button class="btn btn-link listjs-sorter" data-sort="sort-mount" type="button">
                                        Mount
                                    </button>
                                </th>
                                <th>
                                    <button class="btn btn-link listjs-sorter" data-sort="sort-category" type="button">
                                        Category
                                    </button>
                                </th>
                                <th>
                                    <button class="btn btn-link listjs-sorter" data-sort="sort-serial" type="button">
                                        Serial
                                    </button>
                                </th>
                                <th>
                                    <button class="btn btn-link listjs-sorter" data-sort="sort-assigned" type="button">
                                        Assignee
                                    </button>
                                </th>  
                                <th>
                                    <button class="btn btn-link listjs-sorter" data-sort="sort-status" type="button">
                                        Status
                                    </button>
                                </th>
                                <th>
                                    <button class="btn btn-link listjs-sorter" data-sort="sort-availability" type="button">
                                        Availability
                                    </button>
                                </th>
                                <th>
                                    <!-- Blank -->
                                </th>
                                <th>
                                    <!-- Blank -->
                                </th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            {% for item in item_query %}
                            <tr>
                                <td class="sort-manufacturer">
                                    {{ item.manufacturer }}
                                </td>
                                <td class="sort-name">
                                    {{ item.name }}
                                </td>
                                <td class="sort-mount">
                                    {{ item.mount|default_if_none:"n/a" }}
                                </td>
                                <td class="sort-category">
                                    {{ item.category }}
                                </td>
                                <td class="sort-serial">
                                    <button id="serial-copy-{{ item.id }}" class="btn btn-link" onclick="clickToCopyData(this.id, '{{ item.serial_number }}')">
                                        {{ item.serial_number|default_if_none:"n/a" }}
                                    </button>
                                </td>
                                <td class="sort-assigned">
                                    {{ item.assigned_to|default_if_none:"n/a" }}
                                </td>

                                <td class="sort-status" data-sort-status="{{ item.get_status_display }}">
                                    {% if item.status == 'POOL' %}
                                    <span class="badge text-bg-warning">{{ item.get_status_display }}</span>
                                    {% elif item.status == 'ASSIGNED' %}
                                    <span class="badge text-bg-info">{{ item.get_status_display }}</span>
                                    {% else %}
                                    <span class="badge text-bg-warning">{{ item.get_status_display }}</span>                                    
                                    {% endif %}
                                </td>

                                {% if pending_booking %}
                                <!-- Availablity Status -->
                                <td class="sort-availability" data-sort-status="{{ item.get_status_display }}">
                                    {% if item.available %}
                                    <span class="badge text-bg-success">Available</span>
                                    {% else %}
                                    <span class="badge text-bg-danger">Not Available</span>
                                    {% endif %}
                                </td>
                                <!-- Add to Booking -->
                                <td>
                                    {% if item.available %}
                                    <form action="{% url 'equipment_booking_add_item' item.pk %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="next" value="{{ request.path }}?{{ request.GET.urlencode }}">
                                        <button type="submit" class="btn btn-primary">
                                            Add
                                        </button>
                                    </form>
                                    {% else %}
                                    <button type="button" class="btn btn-primary opacity-25 disabled">
                                        Add
                                    </button>
                                    {% endif %}
                                </td>
                                {% else %}
                                <!-- Availablity Status Unknown -->
                                <td class="sort-availability" data-sort-status="{{ item.get_status_display }}">
                                    <span class="status-badge bg-yellow opacity-25">Dates Required</span>
                                </td>
                                <!-- Add to Booking (disabled)-->
                                <td>
                                    <button type="button" class="btn btn-primary opacity-25 disabled">
                                        Add
                                    </button>
                                </td>
                                {% endif %}
                                <td class="text-end">
                                    <a href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                            <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                        </svg>
                                    </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="{% url 'equipment_item_detail' item.pk %}">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="18" height="18" fill="currentColor" class="me-2">
                                                <path d="M453-280h60v-240h-60v240Zm26.982-314q14.018 0 23.518-9.2T513-626q0-14.45-9.482-24.225-9.483-9.775-23.5-9.775-14.018 0-23.518 9.775T447-626q0 13.6 9.482 22.8 9.483 9.2 23.5 9.2Zm.284 514q-82.734 0-155.5-31.5t-127.266-86q-54.5-54.5-86-127.341Q80-397.681 80-480.5q0-82.819 31.5-155.659Q143-709 197.5-763t127.341-85.5Q397.681-880 480.5-880q82.819 0 155.659 31.5Q709-817 763-763t85.5 127Q880-563 880-480.266q0 82.734-31.5 155.5T763-197.684q-54 54.316-127 86Q563-80 480.266-80Zm.234-60Q622-140 721-239.5t99-241Q820-622 721.188-721 622.375-820 480-820q-141 0-240.5 98.812Q140-622.375 140-480q0 141 99.5 240.5t241 99.5Zm-.5-340Z"/>
                                            </svg>
                                            Item Information
                                        </a>
                                        {% if item.assigned_to %}
                                        <form method="post" action="{% url 'equipment_unassign_item' item.pk %}?next={{ request.get_full_path|urlencode }}">
                                            {% csrf_token %}
                                            <button type="submit" class="dropdown-item">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="18" height="18" fill="currentColor" class="me-2">
                                                    <path d="M640-520v-80h240v80H640Zm-280 40q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM40-160v-112q0-34 17.5-62.5T104-378q62-31 126-46.5T360-440q66 0 130 15.5T616-378q29 15 46.5 43.5T680-272v112H40Zm80-80h480v-32q0-11-5.5-20T580-306q-54-27-109-40.5T360-360q-56 0-111 13.5T140-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T440-640q0-33-23.5-56.5T360-720q-33 0-56.5 23.5T280-640q0 33 23.5 56.5T360-560Zm0-80Zm0 400Z"/>
                                                </svg>
                                                Unassign Item
                                            </button>
                                        </form>
                                        {% else %}
                                        <a class="dropdown-item" href="{% url 'equipment_assign_item' item.pk %}?next={{ request.get_full_path|urlencode }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="18" height="18" fill="currentColor" class="me-2">
                                                <path d="M720-400v-120H600v-80h120v-120h80v120h120v80H800v120h-80Zm-360-80q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM40-160v-112q0-34 17.5-62.5T104-378q62-31 126-46.5T360-440q66 0 130 15.5T616-378q29 15 46.5 43.5T680-272v112H40Zm80-80h480v-32q0-11-5.5-20T580-306q-54-27-109-40.5T360-360q-56 0-111 13.5T140-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T440-640q0-33-23.5-56.5T360-720q-33 0-56.5 23.5T280-640q0 33 23.5 56.5T360-560Zm0-80Zm0 400Z"/>
                                            </svg>
                                            Assign Item
                                        </a>
                                        {% endif %}
                                        <a class="dropdown-item" href="{% url 'equipment_update_service' item.pk %}?next={{ request.get_full_path|urlencode }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="18" height="18" fill="currentColor" class="me-2">
                                                <path d="M686-132 444-376q-20 8-40.5 12t-43.5 4q-100 0-170-70t-70-170q0-36 10-68.5t28-61.5l146 146 72-72-146-146q29-18 61.5-28t68.5-10q100 0 170 70t70 170q0 23-4 43.5T584-516l244 242q12 12 12 29t-12 29l-84 84q-12 12-29 12t-29-12Zm29-85 27-27-256-256q18-20 26-46.5t8-53.5q0-60-38.5-104.5T386-758l74 74q12 12 12 28t-12 28L332-500q-12 12-28 12t-28-12l-74-74q9 57 53.5 95.5T360-440q26 0 52-8t47-25l256 256ZM472-488Z"/>
                                            </svg>
                                            Update Service Date
                                        </a>                    
                                        <div class="dropdown-divider"></div>    
                                        <a class="dropdown-item" href="{% url 'equipment_update_item' item.pk %}?next={{ request.get_full_path|urlencode }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="18" height="18" fill="currentColor" class="text-danger me-2">
                                                <path d="M200-200h56l345-345-56-56-345 345v56Zm572-403L602-771l56-56q23-23 56.5-23t56.5 23l56 56q23 23 24 55.5T829-660l-57 57Zm-58 59L290-120H120v-170l424-424 170 170Zm-141-29-28-28 56 56-28-28Z"/>
                                            </svg>
                                            Update
                                        </a>
                                        <a class="dropdown-item" href="{% url 'equipment_delete_item' item.pk %}?next={{ request.get_full_path|urlencode }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="18" height="18" fill="currentColor" class="text-danger me-2">
                                                <path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/>
                                            </svg>
                                            Delete
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <div class="h-100 d-flex justify-content-center align-items-center">
                    No Results
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<nav class="d-flex justify-content-center">
    <ul class="pagination">
        {% if item_query.has_previous %}
        <li class="page-item">
            <a class="page-link px-4" aria-label="Last">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link px-4" href="#" aria-label="Previous">
                <span aria-hidden="true">&lsaquo;</span>
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link px-4" aria-label="Last">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item disabled">
            <a class="page-link px-4" href="#" aria-label="Previous">
                <span aria-hidden="true">&lsaquo;</span>
            </a>
        </li>
        {% endif %}
        <li class="page-item disabled" aria-current="page">
            <a class="page-link px-4" href="#">
                {{ item_query.number }} of {{ item_query.paginator.num_pages }}
            </a>
        </li>
        {% if item_query.has_next %}
        <li class="page-item">
            <a class="page-link px-4" href="#" aria-label="Next">
                <span aria-hidden="true">&rsaquo;</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link px-4" href="#" aria-label="Last">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link px-4" href="#" aria-label="Next">
                <span aria-hidden="true">&rsaquo;</span>
            </a>
        </li>
        <li class="page-item disabled">
            <a class="page-link px-4" href="#" aria-label="Last">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock content %}
{% block scripts %}
<script src="{% static 'js/list.min.js' %}"></script>
<script src="{% static 'js/item-query.js' %}"></script>
{% endblock scripts %}