// Bootstrap CSS
@use './bootstrap/bootstrap.scss';

// Choices CSS
@use './choicesjs.scss';

body {
    font-size: 14px;
}

a, .btn-link {
    text-decoration: none;
}

.btn {
    min-width: 120px;
    height: 38px;
}