// Bootstrap CSS
@use './bootstrap/bootstrap.scss' as bs;

.choices {
    position: relative;
    overflow: hidden;
    margin-bottom: 24px;
    font-size: 16px;

    &:focus {
        outline: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &.is-open {
        overflow: visible;
    }

    &.is-disabled {
        .choices__inner, .choices__input {
            background-color: #eaeaea;
            cursor: not-allowed;
            -webkit-user-select: none;
            user-select: none;
        }

        .choices__item {
            cursor: not-allowed;
        }
    }

    &[data-type*='select-one'] {
        cursor: pointer;

        .choices__inner {
            padding-bottom: 7.5px;
        }

        .choices__input {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: bs.$body-bg-dark;
            margin: 0;
        }

        &::after {
            content: '';
            position: absolute;
            right: 0px;
            top: 50%;
            margin-top: -10px;
            width: 20px;
            height: 20px;
            background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='13' height='13' viewBox='0 0 15 15'><path fill='%23ffffff' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708'/></svg>") right .75rem center/13px 13px no-repeat!important;
            padding-right: 1.5rem;
            background-size: contain;
            background-repeat: no-repeat;
            pointer-events: none;
        }
    }

    .choices__inner {
        display: inline-block;
        vertical-align: top;
        width: 100%;
        background-color: bs.$body-bg-dark;
        padding: 7.5px 7.5px 3.75px;
        border: bs.$input-border-width solid bs.$input-border-color;
        border-radius: bs.$input-border-radius;
        font-size: 14px;
        min-height: 44px;
        overflow: hidden;

        &.is-focused,
            &.is-open {
                border-color: #b7b7b7;
            }

            &.is-open {
                border-radius: 2.5px 2.5px 0 0;
            }

            &.is-flipped.is-open {
                border-radius: 0 0 2.5px 2.5px;
            }
    }

    .choices__list {
        margin: 0;
        padding-left: 0;
        list-style: none;

        &--single {
            display: inline-block;
            padding: 4px 16px 4px 4px;
            width: 100%;

            .choices__item {
                width: 100%;
            }
        }

        &--dropdown,&[aria-expanded] {
            display: none;
            z-index: 1;
            position: absolute;
            width: 100%;
            background-color: bs.$body-bg-dark;
            border: bs.$input-border-width solid bs.$input-border-color;
            top: 100%;
            margin-top: -1px;
            border-bottom-left-radius: 2.5px;
            border-bottom-right-radius: 2.5px;
            overflow: hidden;
            word-break: break-all;

            &.is-active {
                display: block;
            }

            .choices__item--selectable {
                position: relative;
                padding: 10px;
                font-size: 14px;
                cursor: pointer;

                &.is-highlighted {
                    background-color: bs.$primary;
                }
            }
        }
    }

    // .choices__button {
    //     text-indent: -9999px;
    //     appearance: none;
    //     border: 0;
    //     background-color: transparent;
    //     background-repeat: no-repeat;
    //     background-position: center;
    //     cursor: pointer;

    //     &:focus, .choices__input:focus {
    //         outline: 0;
    //     }
    // }

    // .choices__input {
    //     display: inline-block;
    //     vertical-align: baseline;
    //     background-color: #f9f9f9;
    //     font-size: 14px;
    //     margin-bottom: 5px;
    //     border: 0;
    //     border-radius: 0;
    //     max-width: 100%;
    //     padding: 4px 0 4px 2px;
    // }
}
