<!-- Filter Sidebar -->
<form action="{% url 'equipment_booking_query' %}" method="get">
    <div class="offcanvas offcanvas-end" tabindex="-1" id="filter-bookings-sidebar">
        <div class="offcanvas-header">
            <h3 class="offcanvas-title">Filter Bookings</h3>
            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="mb-5">
                <h5 class="mb-3">Search</h5>
                <div class="input-group">
                    <input type="search" placeholder="Search Bookings" class="form-control" type="text" id="sidebarSearch" name="search">
                </div>
            </div>
            <hr>
            <div class="my-5">
                <h5 class="mb-3">Status</h5>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="check-status-any" name="status" value="None" checked>
                    <label for="check-status-any" class="form-check-label">Any</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="check-status-confirmed" name="status" value="CONFIRMED">
                    <label for="check-status-confirmed" class="form-check-label">Confirmed</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" id="check-status-cancelled" name="status" value="CANCELLED">
                    <label for="check-status-cancelled" class="form-check-label">Cancelled</label>
                </div>
            </div>
            <hr>            
            <div class="my-5">
                <h5 class="mb-3">Date Range</h5>
                <div class="mb-3">
                    <label for="date-range-start" class="form-label mb-1 d-block">Between</label>
                    <input class="form-control datepicker w-100" type="date" id="date-range-start" name="date_range_start"> 
                </div>
                <div class="mb-5">
                    <label for="date-range-end" class="form-label mb-1 d-block">And</label>
                    <input class="form-control datepicker w-100" type="date" id="date-range-end" name="date_range_end"> 
                </div>
            </div>
        </div>
        <div class="offcanvas-footer text-center p-4">
            <a href="{% url 'equipment_booking_query' %}" class="btn btn-secondary">
                Clear
            </a>
            <button type="submit" class="btn btn-primary">
                Filter
            </button>
        </div>
    </div>
</form>
<!-- Filter Sidebar End -->