{% extends '_base.html' %}
{% load static %}
{% block title %}Confirm Booking{% endblock %}
{% block pageheader %}Confirm Booking{% endblock pageheader %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'equipment_booking_summary' %}">Booking Summary</a></li>
<li class="breadcrumb-item active" aria-current="page">Confirm Booking</li>
{% endblock breadcrumb %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
    <div class="col-lg-6 mx-auto mb-4">
        <div class="card">
            <div class="card-header">
                <h2 class="fs-5 m-0 py-4">
                    Confirm Booking: <span class="text-accented">{{ pending_booking.job_reference }}</span>
                </h2>
            </div>
            <div class="card-body">
                <form method="post" id="confirm-booking-form">
                    {% csrf_token %}
                    <div class="form-group mb-5">
                        <p>
                            Are you sure you wish to confirm <span class="text-accented">{{ pending_booking.job_reference  }}</span> ? 
                        </p>
                        <p>
                            This will immediately <strong>confirm this booking and add it to the calendar.</strong> 
                        </p>
                    </div>
                    <div class="form-group text-center mt-5">
                        <a href="{% url 'equipment_booking_summary' %}" class="btn btn-secondary btn-lg-fw">
                            Back
                        </a>
                        <button type="submit" class="btn btn-primary btn-lg-fw" id="confirm-booking-btn" onclick="buttonSpinner('confirm-booking-form', 'confirm-booking-btn')">
                            Confirm
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}