{% extends '_base.html' %}
{% load static %}
{% load templatehelpers %}
{% block title %}Booking Information{% endblock %}
{% block pageheader %}Booking Information{% endblock pageheader %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'equipment_booking_query' %}">Booking Query</a></li>
<li class="breadcrumb-item active" aria-current="page">Booking Information</li>
{% endblock breadcrumb %}
{% block content %}
{% load crispy_forms_tags %}
{% include 'equipment/partials/filter-bookings-sidebar.html' %}
<div class="row mb-5">
    <div class="col">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'equipment_booking_detail' booking.pk %}">
                    Information
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'equipment_booking_cost' booking.pk %}">
                    Cost Overview
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'equipment_booking_invoice' booking.pk %}" target="_blank">
                    Invoice
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-lg-6 mb-4">
        <div class="card">
            <div class="card-header">
                <h2 class="fs-5 m-0 py-4">
                    Booked Items
                </h2>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for booking_item in booking_items %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ booking_item.item.category }}</td>
                            <td>{{ booking_item.item.manufacturer }} {{ booking_item.item.name }}</td>
                            <td>£{{ booking_item.value|floatformat:2 }}</td>
                            <td>£{{ booking_item.total|floatformat:2 }}</td>
                        </tr>
                        {% endfor %}                                                                                 
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6 mb-4">
        <div class="card">
            <div class="card-header">
                <h2 class="fs-5 m-0 py-4">
                    Cost Breakdown
                </h2>
            </div>
            <div class="card-body">               
                <table class="table">
                    <thead>
                        <tr>
                            <th class="w-50"></th>
                            <th class="w-50"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="ps-1 fw-bold">Hire Start</td>
                            <td class="ps-3">{{ booking.start_at|date:"d M Y, H:i" }}</td>
                        </tr>
                        <tr>
                            <td class="ps-1 fw-bold">Hire End</td>
                            <td class="ps-3">{{ booking.end_at|date:"d M Y, H:i" }}</td>
                        </tr>
                        <tr>
                            <td class="ps-1 fw-bold">Chargable Days</td>
                            <td class="ps-3">{{ chargeable_days }}</td>
                        </tr>
                        <tr>
                            <td class="ps-1 fw-bold">Sub Total (Excl VAT)</td>
                            <td class="ps-3">£{{ sub_total|floatformat:2 }}</td>
                        </tr>
                        <tr>
                            <td class="ps-1 fw-bold">VAT ({{ vat_percentage }}%)</td>
                            <td class="ps-3">£{{ vat_total|floatformat:2 }}</td>
                        </tr>
                        <tr>
                            <td class="ps-1 fw-bold">Total (Incl VAT)</td>
                            <td class="ps-3">£{{ total_cost_vat|floatformat:2 }}</td>
                        </tr>
                        <tr>
                            <td class="ps-1 fw-bold">Insurable Value</td>
                            <td class="ps-3">£{{ insure_value|floatformat:2 }}</td>
                        </tr>                                                               
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}