{% extends '_base.html' %}
{% load static %}
{% load templatehelpers %}
{% block title %}Booking Calendar{% endblock %}
{% block pageheader %}Booking Calendar{% endblock pageheader %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'equipment_dashboard' %}">Dashboard</a></li>
<li class="breadcrumb-item active" aria-current="page">Booking Calendar</li>
{% endblock breadcrumb %}
{% block content %}
{% load crispy_forms_tags %}
{% include 'equipment/partials/filter-bookings-sidebar.html' %}

<div class="row mt-5">
    <div class="col mb-4">
        <div class="card h-100">
            <div class="card-header d-flex flex-column flex-lg-row justify-content-between align-items-lg-center">
                <h2 class="fs-5 m-0 py-4">
                    {{ month_name }} {{ year_name }}
                </h2>
                <div class="btn-group mb-4 mb-lg-0" role="group" aria-label="Basic example">
                    <a href="{% url 'equipment_booking_calendar' %}?period={{ prev_month_start }}" type="button" class="btn btn-primary">Prev</a>
                    <a href="{% url 'equipment_booking_calendar' %}" type="button" class="btn btn-primary">Today</a>
                    <a href="{% url 'equipment_booking_calendar' %}?period={{ next_month_start }}" type="button" class="btn btn-primary">Next</a>
                </div>                 
            </div>
            <div class="card-body">
                <div class="row row-cols-lg-7 g-2 mb-2">
                    <div class="col text-center">Mon</div>
                    <div class="col text-center">Tue</div>
                    <div class="col text-center">Wed</div>
                    <div class="col text-center">Thur</div>
                    <div class="col text-center">Fri</div>
                    <div class="col text-center">Sat</div>
                    <div class="col text-center">Sun</div>
                </div>
                {% for week_key, days in month_obj.items %}
                <div class="row row-cols-lg-7 g-2 mb-2">
                    {% for day_num, day_data in days.items %}
                    {% if day_data.day != 0 %}
                    <div class="col" style="height: 150px;">
                        <a href="{% url 'equipment_booking_query' %}?date_range_start={{ day_data.date }}&date_range_end={{ day_data.date }}" class="text-reset">
                            <div class="bg-body-secondary rounded h-100 py-2 px-3 {% if day_data.is_today %}border border-primary{% endif %}">
                                <div class="mt-3 text-end">
                                    {{ day_data.day }}
                                </div>
                                <div class="py-3 h-100">
                                    {% if day_data.has_booking %}
                                    <div class="bg-primary rounded h-25"></div>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    </div>
                    {% else %}
                    <!-- Render empty cells for padding days (0) -->
                    <div class="col" style="height: 150px;">
                        <div class="bg-body-secondary rounded h-100 py-2 px-3 opacity-25 {% if day_data.is_today %}border border-primary{% endif %}">
                            <div class="mt-3 text-end">
                            </div>
                            <div class="py-3">
                                {% if day_data.has_booking %}
                                <div class="badge py-2"></div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                {% endfor %}                    
            </div>
        </div>
    </div>
</div>
{% endblock content %}