{% extends '_base.html' %}
{% load static %}
{% block title %}Equipment Update Booking Meta{% endblock %}
{% block pageheader %}Update Booking{% endblock pageheader %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'equipment_dashboard' %}">Dashboard</a></li>
<li class="breadcrumb-item active" aria-current="page">Update Booking</li>
{% endblock breadcrumb %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row mt-5">
    <div class="col-lg-6 mx-auto">
        <div class="card">
            <div class="card-header d-flex flex-column flex-lg-row justify-content-between align-items-center">
                <h2 class="fs-5 m-0 py-4">
                    Update Booking
                </h2>
            </div>
            <div class="card-body">
                <form method="post" id="update-booking-form">
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                    <div class="form-group mb-5">
                        {{ form.non_field_errors }}
                    </div>
                    {% endif %}
                    <div class="form-group mb-5">
                        {{ form.job_reference|as_crispy_field }}
                        {{ form.job_number|as_crispy_field }}
                    </div>
                    <div class="form-group mb-5">
                        {{ form.start_at|as_crispy_field }}
                        {{ form.end_at|as_crispy_field }}
                    </div>
                    <div class="form-group text-center my-3">
                        <a href="{% url 'equipment_booking_summary' %}" class="btn btn-secondary btn-lg-fw">
                            Back
                        </a>
                        <button type="submit" class="btn btn-primary btn-lg-fw" id="update-item-btn" onclick="buttonSpinner('update-booking-form', 'update-booking-btn')">
                            Update
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}