{% extends '_base.html' %}
{% load static %}
{% load templatehelpers %}
{% block title %}Booking Query{% endblock %}
{% block pageheader %}Booking Query{% endblock pageheader %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'equipment_dashboard' %}">Dashboard</a></li>
<li class="breadcrumb-item active" aria-current="page">Booking Query</li>
{% endblock breadcrumb %}
{% block content %}
{% load crispy_forms_tags %}
{% include 'equipment/partials/filter-bookings-sidebar.html' %}

<div class="row mt-5">
    <div class="col mb-4">
        <div class="card">
            <div class="card-header d-flex flex-column flex-lg-row justify-content-between align-items-lg-center">
                <h2 class="fs-5 m-0 py-4">
                    Showing {{ booking_query.start_index }}-{{ booking_query.end_index }} of {{ booking_query.paginator.count }} results
                </h2>
            </div>
            <div class="card-body">
                <!-- No Results -->
                {% if booking_query|length != 0 %}
                <div class="table-responsive" id="bookings">
                    <table class="table align-middle text-center no-break">
                        <thead>
                            <tr>
                                <th>
                                    <button class="btn btn-link listjs-sorter" data-sort="sort-reference" type="button">
                                        Reference
                                    </button>
                                </th>
                                <th>
                                    <button class="btn btn-link" data-sort="sort-bookedby" type="button">
                                        Booked By
                                    </button>
                                </th>
                                <th>
                                    <button class="btn btn-link listjs-sorter" data-sort="sort-start" type="button">
                                        Start
                                    </button>
                                </th>
                                <th>
                                    <button class="btn btn-link listjs-sorter" data-sort="sort-end" type="button">
                                        End
                                    </button>
                                </th>
                                <th>
                                    <button class="btn btn-link listjs-sorter" data-sort="sort-status" type="button">
                                        Status
                                    </button>
                                </th>
                                <th>
                                    <!-- Blank -->
                                </th>
                                <th>
                                    <!-- Blank -->
                                </th>
                            </tr>
                        </thead>
                        <tbody class="list">
                            {% for booking in booking_query %}
                            <tr id="booking-{{ booking.id }}">
                                <td class="sort-reference">
                                    {{ booking.job_reference }}
                                </td>
                                <td class="sort-bookedby">
                                    {{ booking.created_by }}
                                </td>
                                <td class="sort-start" data-sort-start="{{ booking.start_at|date:'SHORT_DATE_FORMAT' }}">
                                    {{ booking.start_at }}
                                </td>
                                <td class="sort-end" data-sort-end="{{ booking.end_at|date:'SHORT_DATE_FORMAT' }}">
                                    {{ booking.end_at }}
                                </td>
                                <td class="sort-status">
                                    {% if booking.status == 'CANCELLED' %}
                                    <span class="badge text-bg-danger">{{ booking.get_status_display }}</span>
                                    {% else %}
                                    <span class="badge text-bg-success">{{ booking.get_status_display }}</span>
                                    {% endif %}
                                </td>
                                <td class="sort-end">
                                    <a href="{% url 'equipment_booking_detail' booking.pk %}" class="btn btn-primary">
                                        View
                                    </a>
                                </td>
                                <td class="text-end">
                                    <a href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                                            <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                                        </svg>
                                    </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="{% url 'equipment_booking_detail' booking.pk %}">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor" width="18" height="18" class="me-2">
                                                <path d="M453-280h60v-240h-60v240Zm26.982-314q14.018 0 23.518-9.2T513-626q0-14.45-9.482-24.225-9.483-9.775-23.5-9.775-14.018 0-23.518 9.775T447-626q0 13.6 9.482 22.8 9.483 9.2 23.5 9.2Zm.284 514q-82.734 0-155.5-31.5t-127.266-86q-54.5-54.5-86-127.341Q80-397.681 80-480.5q0-82.819 31.5-155.659Q143-709 197.5-763t127.341-85.5Q397.681-880 480.5-880q82.819 0 155.659 31.5Q709-817 763-763t85.5 127Q880-563 880-480.266q0 82.734-31.5 155.5T763-197.684q-54 54.316-127 86Q563-80 480.266-80Zm.234-60Q622-140 721-239.5t99-241Q820-622 721.188-721 622.375-820 480-820q-141 0-240.5 98.812Q140-622.375 140-480q0 141 99.5 240.5t241 99.5Zm-.5-340Z"/>
                                            </svg>
                                            Booking Information
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{% url 'equipment_booking_update' booking.pk %}?next={{ request.get_full_path|urlencode }}">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor" width="18" height="18" class="text-danger me-2">
                                                <path d="M200-200h56l345-345-56-56-345 345v56Zm572-403L602-771l56-56q23-23 56.5-23t56.5 23l56 56q23 23 24 55.5T829-660l-57 57Zm-58 59L290-120H120v-170l424-424 170 170Zm-141-29-28-28 56 56-28-28Z"/>
                                            </svg>
                                            Update
                                        </a>
                                        <a class="dropdown-item" href="{% url 'equipment_booking_cancel' booking.pk %}">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" fill="currentColor" width="18" height="18" class="text-danger me-2">
                                                <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/>
                                            </svg>
                                            Cancel
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<nav class="d-flex justify-content-center">
    <ul class="pagination">
        {% if booking_query.has_previous %}
        <li class="page-item">
            <a class="page-link px-4" aria-label="Last">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link px-4" href="#" aria-label="Previous">
                <span aria-hidden="true">&lsaquo;</span>
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link px-4" aria-label="Last">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item disabled">
            <a class="page-link px-4" href="#" aria-label="Previous">
                <span aria-hidden="true">&lsaquo;</span>
            </a>
        </li>
        {% endif %}
        <li class="page-item disabled" aria-current="page">
            <a class="page-link px-4" href="#">
                {{ booking_query.number }} of {{ booking_query.paginator.num_pages }}
            </a>
        </li>
        {% if booking_query.has_next %}
        <li class="page-item">
            <a class="page-link px-4" href="#" aria-label="Next">
                <span aria-hidden="true">&rsaquo;</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link px-4" href="#" aria-label="Last">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link px-4" href="#" aria-label="Next">
                <span aria-hidden="true">&rsaquo;</span>
            </a>
        </li>
        <li class="page-item disabled">
            <a class="page-link px-4" href="#" aria-label="Last">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock content %}
{% block scripts %}
<script src="{% static 'js/list.min.js' %}"></script>
<script src="{% static 'js/booking-query.js' %}"></script>
{% endblock scripts %}