{% load static %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %} | Hephaestus</title>
        <!-- Custom CSS -->
        <link href="{% static 'css/base.css' %}" rel="stylesheet">
        {% block css %}
        {% endblock css %}
    </head>
    <body class="d-flex flex-column vh-100">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand me-lg-5" href="{% url 'equipment_dashboard' %}">
                    Hephaestus
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <form action="{% url 'equipment_booking_query' %}" method="get" class="d-flex mt-3 mt-lg-0" role="search">
                            <input id="search-bookings" class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search">
                        </form>
                        <li class="nav-item dropdown">
                            <button id="ActionsDropdownMenuButton" class="btn btn-primary dropdown-toggle mt-2 mt-lg-0"  type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Actions
                            </button>
                            <div class="dropdown-menu" aria-labelledby="ActionsDropdownMenuButton">
                                <a class="dropdown-item" href="{% url 'equipment_create_item' %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="18" height="18" class="text-primary me-2" fill="currentColor">
                                        <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/>
                                    </svg>
                                    Add Item
                                </a>
                                <a class="dropdown-item" href="{% url 'equipment_booking_summary' %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="18" height="18" class="text-primary me-2" fill="currentColor">
                                        <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/>
                                    </svg>
                                    Add Booking
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'equipment_booking_query' %}?date_range_start={{ today }}&date_range_end={{ today }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="18" height="18" class="me-2" fill="currentColor">
                                        <path d="M360-300q-42 0-71-29t-29-71q0-42 29-71t71-29q42 0 71 29t29 71q0 42-29 71t-71 29ZM200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Z"/>
                                    </svg>
                                    Today's Bookings
                                </a>
                                <a class="dropdown-item" href="{% url 'equipment_booking_query' %}?date_range_start={{ week_start }}&date_range_end={{ week_end }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="18" height="18" class="me-2" fill="currentColor">
                                        <path d="M320-400q-17 0-28.5-11.5T280-440q0-17 11.5-28.5T320-480q17 0 28.5 11.5T360-440q0 17-11.5 28.5T320-400Zm160 0q-17 0-28.5-11.5T440-440q0-17 11.5-28.5T480-480q17 0 28.5 11.5T520-440q0 17-11.5 28.5T480-400Zm160 0q-17 0-28.5-11.5T600-440q0-17 11.5-28.5T640-480q17 0 28.5 11.5T680-440q0 17-11.5 28.5T640-400ZM200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Z"/>
                                    </svg>
                                    This Week's Bookings
                                </a>
                                <a class="dropdown-item" href="{% url 'equipment_booking_query' %}?date_range_start={{ month_start }}&date_range_end={{ month_end }}">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="18" height="18" class="me-2" fill="currentColor">
                                        <path d="M200-80q-33 0-56.5-23.5T120-160v-560q0-33 23.5-56.5T200-800h40v-80h80v80h320v-80h80v80h40q33 0 56.5 23.5T840-720v560q0 33-23.5 56.5T760-80H200Zm0-80h560v-400H200v400Zm0-480h560v-80H200v80Zm0 0v-80 80Zm280 240q-17 0-28.5-11.5T440-440q0-17 11.5-28.5T480-480q17 0 28.5 11.5T520-440q0 17-11.5 28.5T480-400Zm-160 0q-17 0-28.5-11.5T280-440q0-17 11.5-28.5T320-480q17 0 28.5 11.5T360-440q0 17-11.5 28.5T320-400Zm320 0q-17 0-28.5-11.5T600-440q0-17 11.5-28.5T640-480q17 0 28.5 11.5T680-440q0 17-11.5 28.5T640-400ZM480-240q-17 0-28.5-11.5T440-280q0-17 11.5-28.5T480-320q17 0 28.5 11.5T520-280q0 17-11.5 28.5T480-240Zm-160 0q-17 0-28.5-11.5T280-280q0-17 11.5-28.5T320-320q17 0 28.5 11.5T360-280q0 17-11.5 28.5T320-240Zm320 0q-17 0-28.5-11.5T600-280q0-17 11.5-28.5T640-320q17 0 28.5 11.5T680-280q0 17-11.5 28.5T640-240Z"/>
                                    </svg>
                                    This Month's Bookings
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'account_change_password' %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="18" height="18" class="text-danger me-2" fill="currentColor">
                                        <path d="M280-400q-33 0-56.5-23.5T200-480q0-33 23.5-56.5T280-560q33 0 56.5 23.5T360-480q0 33-23.5 56.5T280-400Zm0 160q-100 0-170-70T40-480q0-100 70-170t170-70q67 0 121.5 33t86.5 87h352l120 120-180 180-80-60-80 60-85-60h-47q-32 54-86.5 87T280-240Zm0-80q56 0 98.5-34t56.5-86h125l58 41 82-61 71 55 75-75-40-40H435q-14-52-56.5-86T280-640q-66 0-113 47t-47 113q0 66 47 113t113 47Z"/>
                                    </svg>
                                    Change Password
                                </a>
                                <a class="dropdown-item" href="{% url 'account_logout' %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" width="18" height="18" class="text-danger me-2" fill="currentColor">
                                        <path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"/>
                                    </svg>
                                    Logout
                                </a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-secondary my-2 my-lg-0 ms-lg-2" data-bs-toggle="offcanvas" data-bs-target="#filter-bookings-sidebar">
                                Filter
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% include 'messages.html' %}
        {% include 'equipment/partials/filter-bookings-sidebar.html' %}
        <div class="container-fluid my-5">
            <!-- Breadcrumb -->
            <nav class="row">
                <div class="col">
                    <ol class="breadcrumb">
                        {% block breadcrumb %}
                        {% endblock breadcrumb %}
                    </ol>
                </div>
            </nav>    
            <!-- Header -->
            <div class="row mb-5">
                <div class="col-xl-6">
                    <div class="page-header">
                        <h1 class="fs-3">{% block pageheader %}{% endblock pageheader %}</h1>
                    </div>
                </div>
            </div>

            <!-- Nav Pills -->
            <div class="row mb-5">
                <div class="col">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link {% if module == 'dashboard' %}active{% endif %}" href="{% url 'equipment_dashboard' %}">
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if module == 'equipment' %}active{% endif %}" href="{% url 'equipment_item_query' %}">
                                Equipment
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if module == 'calendar' %}active{% endif %}" href="{% url 'equipment_booking_calendar' %}">
                                Calendar
                            </a>
                        </li>               
                        <li class="nav-item">
                            <a class="nav-link {% if module == 'bookings' %}active{% endif %}" href="{% url 'equipment_booking_query' %}">
                                Bookings
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if module == 'summary' %}active{% endif %} position-relative" href="{% url 'equipment_booking_summary' %}">
                                {% if pending_booking %}
                                Pending Booking
                                <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-dark rounded-circle">
                                    <span class="visually-hidden">Active Booking</span>
                                </span>
                                {% else %}
                                New Booking
                                {% endif %}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            {% block content %}
            {% endblock content %}
        </div>
        <footer class="footer bg-body-tertiary py-5 mt-auto" data-bs-theme="dark">
            <div class="container-fluid text-center">
                <span class="text-muted">Hephaestus 2024. All rights reserved.</span>
            </div>
        </footer>
        <!-- Bootstrap 5.3.3 JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <script src="{% static 'js/core.js' %}"></script>
        {% block scripts %}
        {% endblock scripts %}
    </body>
</html>